/* Overriding WordPress native styles */

.et h2 {
    text-align: inherit;
}

.et h2:first-child,
.et h3:first-child {
    margin-top: 0;
}

.et hr {
    margin: 2.62em 0;
}

.feature-section + hr {
    margin-top: 0;
}

#wpbody select {
    height: auto;
    padding: .62em;
    line-height: inherit;
}

.et .notice {
    display: block !important;
    margin-top: 1.4em;
    margin-bottom: 0;
}

/* Plugin elements */

.PWPT__demo-import-files {
    width: 100%;
}

.PWPT__demo-import-preview-image-message {
    font-style: italic;
}

/* Plugin title */

.PWPT__title:before {
    width: auto;
    height: auto;
    font-size: inherit;
}

/* Plugin intro text */

.PWPT__intro-text ul {
    padding: 0 4%;
    list-style-type: square;
}

/* Plugin multi select import and Plugin file upload containers */


.PWPT__file-upload {
    margin: 0;
    margin-bottom: -1px;
}

.PWPT__file-upload span {
    font-size: .81em;
    font-weight: normal;
    opacity: .66;
}

.PWPT__demo-import-notice:not(:empty) {
    border: 0;
    border-left: 4px solid #00a0d2;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

[dir="rtl"] .PWPT__demo-import-notice:not(:empty) {
    border: 0;
    border-right: 4px solid #00a0d2;
}

/* Plugin button */

.PWPT__button-container {
    margin-top: 1.62em;
}

/* AJAX loader */

.PWPT__ajax-loader {
    font-size: 1.5em;
    display: none;
}

.PWPT__ajax-loader .spinner {
    display: inline-block;
    float: none;
    visibility: visible;
    margin-bottom: 6px;
}

.pwpt-demo-importer-wrapper p {

    font-size: 14px;
}

.pwpt-server-settings table td {

    padding: 10px 20px;
    border: 1px solid #555555;
}

.pwpt-server-settings table thead tr td {

    font-size: 14px;
    text-transform: uppercase;
}

.pwpt-server-settings table td span.status-error {

    color: #f44336;
}

.pwpt-server-settings table td span.status-success {

    color: #4CAF50;
}